<!--subscribe-address-->
<section class="subscribe">
        <div class="container-fluid">
        <div class="row">
           <div class="col-lg-6 col-md-6 map-info-right px-0">
              
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.6293861881068!2d106.68324552307115!3d10.763019658532825!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752f1953a6e961%3A0xc77e334f1510b975!2zxJDhuqFpIGjhu41jIEtob2EgaOG7jWMgVOG7sSBuaGnDqm4!5e0!3m2!1svi!2s!4v1575019235176!5m2!1svi!2s"></iframe>
           </div>
           <div class="col-lg-6 col-md-6 address-w3l-right text-center">
              <div class="address-gried ">
                 <span class="far fa-map"></span>
                 <p>227 Đường Nguyễn Văn Cừ, Phường 4, Quận 5, Hồ Chí Minh<br>Việt Nam
                 <p>
              </div>
              <div class="address-gried mt-3">
                 <span class="fas fa-phone-volume"></span>
                 <p> 028 6288 4499</p>
              </div>
              <div class=" address-gried mt-3">
                 <span class="far fa-envelope"></span>
                 <p><a href="mailto:kianto@gmail.com">kianto@gmail.com</a>
                    <br><a href="mailto:lychinhky@gmail.com">lychinhky@gmail.com</a>
                 </p>
              </div>
           </div>
        </div>
      </div>
     </section>
     <!--//subscribe-address-->
  <!--//Product-about-->
  
  <section class="sub-below-address py-lg-4 py-md-3 py-sm-3 py-3">
     <div class="container py-lg-5 py-md-5 py-sm-4 py-3">
        <h3 class="title clr text-center mb-lg-5 mb-md-4 mb-sm-4 mb-3">Liên Lạc Với Chúng Tôi</h3>
        <div class="icons mt-4 text-center">
           <ul>
              <li><a href="#"><span class="fab fa-facebook-f"></span></a></li>
              <li><a href="#"><span class="fas fa-envelope"></span></a></li>
              <li><a href="#"><span class="fas fa-rss"></span></a></li>
              <li><a href="#"><span class="fab fa-vk"></span></a></li>
           </ul>
           <p class="my-3">Godeam chuyên bán những món đồ chơi. Kích thích sự sáng tạo
              & ham học hỏi của người sở hữu món đồ chơi đó. Liên hệ Godeam qua Facebook , Email ở trên.

           </p>
        </div>
        <div class="email-sub-agile">
           <form action="#" method="post">
              <div class="form-group sub-info-mail">
                 <input type="email" class="form-control email-sub-agile" placeholder="Email">
              </div>
              <div class="text-center">
                 <button type="submit" class="btn subscrib-btnn">Subscribe</button>
              </div>
           </form>
        </div>
     </div>
  </section>
  <!--//subscribe-->
  <!-- footer -->
  <footer class="py-lg-4 py-md-3 py-sm-3 py-3 text-center">
     <div class="copy-agile-right">
        <p> 
           © 2018 Toys-Shop. All Rights Reserved | Design by <a href="http://www.W3Layouts.com" target="_blank">W3Layouts</a>
        </p>
     </div>
  </footer>
  <!-- //footer -->
  <!-- Modal 1-->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
   <div class="modal-dialog" role="document">
      <div class="modal-content">
         <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Login</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
         </div>
         <div class="modal-body">
            <div class="register-form">
               <form action="#" method="post">
                  <div class="fields-grid">
                     <!-- <div class="styled-input">
                        <input type="text" placeholder="Your Name" name="Your Name" required="">
                     </div> -->
                     <div class="styled-input">
                        <input type="email" placeholder="Your Email" name="Your Email" required="">
                     </div>
                     <div class="styled-input">
                        <input type="password" placeholder="password" name="password" required="">
                     </div>
                     <div>
                        <p data-toggle="modal" data-target="#exampleModal_forgot" class="forgot_pass">Forgot your password?</p>
                        <P data-toggle="modal" data-target="#exampleModal_register" class="register_account">Create your account</P>
                     </div>
                     <button type="submit" class="btn subscrib-btnn">Login</button>
                  </div>
               </form>
            </div>
         </div>
         <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
         </div>
      </div>
   </div>
</div>
<!-- //Modal 1-->
<!-- Modal Forgot-->
<div class="modal fade" id="exampleModal_forgot" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
 <div class="modal-dialog" role="document">
    <div class="modal-content">
       <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Forgot Password</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
          </button>
       </div>
       <div class="modal-body">
          <div class="register-form">
             <form action="#" method="post">
                <div class="fields-grid">
                   <!-- <div class="styled-input">
                      <input type="text" placeholder="Your Name" name="Your Name" required="">
                   </div> -->
                   <div class="styled-input">
                      <input type="email" placeholder="Your Email" name="Your Email" required="">
                   </div>
                   <!-- <div class="styled-input">
                      <input type="password" placeholder="password" name="password" required="">
                   </div> -->
                   <button type="submit" class="btn subscrib-btnn">Get your Password</button>
                </div>
             </form>
          </div>
       </div>
       <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
       </div>
    </div>
 </div>
</div>
<!-- //Modal Forgot-->
<!-- Modal Register-->
<div class="modal fade" id="exampleModal_register" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
 <div class="modal-dialog" role="document">
    <div class="modal-content">
       <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Register</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
          </button>
       </div>
       <div class="modal-body">
          <div class="register-form">
             <form action="#" method="post">
                <div class="fields-grid">
                   <div class="styled-input">
                      <input type="text" placeholder="Your Name" name="Your Name" required="">
                   </div>
                   <div class="styled-input">
                      <input type="email" placeholder="Your Email" name="Your Email" required="">
                   </div>
                   <div class="styled-input">
                      <input type="password" placeholder="password" name="password" required="">
                   </div>
                   <div class="styled-input">
                     <input type="password" placeholder="pre-password" name="pre-password" required="">
                  </div>
                   <button type="submit" class="btn subscrib-btnn">Sign Up</button>
                </div>
             </form>
          </div>
       </div>
       <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
       </div>
    </div>
 </div>
</div>
<!-- //Modal Register-->